<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SystemsIntegration;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ComputerWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ComputerWebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44324/ComputerWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ComputerWebServiceSoap"
        contract="ComputerWebService.ComputerWebServiceSoap" name="ComputerWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>